{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<div class="container_body products_gallery_container">
    <header class="contacts_header">
            <div class="header_content_black contacts_header_content_black">
{% endblock %}


    {% block content %}
    <main>

            <section class="gallery products_gallery" id="gallery">
                <p class="heading gallery_heading products_gallery_heading">Our Gallery</p>
                <div class="gallery_blocks products_gallery_blocks">
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/3.jpg' %}" alt="battlefield 1">
                        <p class="gallery_text">battlefield 1</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/1.jpg' %}" alt="star wars">
                        <p class="gallery_text gallery_text_two_strings">star wars:<br><span class="gallery_text_span">Battlefront II</span></p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/2.jpg' %}" alt="BATTLEFIELD 4">
                        <p class="gallery_text">BATTLEFIELD 4</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/4.jpg' %}" alt="world of tanks">
                        <p class="gallery_text gallery_text_two_strings">world of tanks</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/pryamougolnik_8_186.jpg' %}" alt="assassins creed">
                        <p class="gallery_text gallery_text_two_strings">Assasin’s Creed:<br><span class="gallery_text_span">Rogue</span></p>
                        <button class="red_button gallery_button" onclick="window.location.href = '/product/';">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/7.jpg' %}" alt="for honor">
                        <p class="gallery_text">for honor</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/6.jpg' %}" alt="world of warships">
                        <p class="gallery_text">world of warships</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block">
                        <img src="{% static 'img/5.jpg' %}" alt="call of duty">
                        <p class="gallery_text gallery_text_two_strings">call of duty:<br><span class="gallery_text_span">Infinite Warface</span></p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                </div>
                <button class="products_gallery_button">Show more games</button>
            </section>

            <section class="discount">
                <div class="discount_blocks">
                    <div class="discount_block">

                        <img class="discount_img" src="{% static 'img/pryamougolnik_25_1380.png' %}" alt="CALL OF DUTY">

                        <div class="discount_img_text">
                            <p class="discount_img_text_discount">discount</p>
                            <p class="discount_img_text_game">CALL OF DUTY:<br><span class="discount_img_text_game_span">Modern Warfare 3</span></p>
                            <p class="discount_img_text_price">$14.44<span class="discount_img_text_price_span1">/ <span class="discount_img_text_price_span2">$28.90</span></span></p>
                            <button class="red_button discount_img_text_button">Buy</button>
                        </div>
                    </div>
                    <div class="discount_block">

                        <img class="discount_img" src="{% static 'img/pryamougolnik_25_1381.png' %}" alt="MEDAL OF HONOR">

                        <div class="discount_img_text discount_img_text2">
                            <p class="discount_img_text_discount">discount</p>
                            <p class="discount_img_text_game">MEDAL OF HONOR</p>
                            <p class="discount_img_text_price">$15.96<span class="discount_img_text_price_span1">/ <span class="discount_img_text_price_span2">$29.99</span></span></p>
                            <button class="red_button discount_img_text_button">Buy</button>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    {% endblock %}


    {% block container_close %}
    </div>
    {% endblock %}
