{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<div class="container_body products_gallery_container">
    <header class="contacts_header">
            <div class="header_content_black contacts_header_content_black">
{% endblock %}

    {% block content %}
        <main>
            <section class="game">
                <div class="game_blocks">
                    <div class="game_block">
                        <img src="{% static 'img/pryamougolnik_11_1143.jpg' %}" alt="assassins creed">
                        <div class="game_block_images">
                            <img src="{% static 'img/pryamougolnik_5_1161.jpg' %}" alt="" class="game_image">
                            <img src="{% static 'img/pryamougolnik_5_1156.jpg' %}" alt="" class="game_image">
                            <img src="{% static 'img/pryamougolnik_5_1151.jpg' %}" alt="" class="game_image">
                            <img src="{% static 'img/pryamougolnik_5_1146.jpg' %}" alt="" class="game_image">
                        </div>
                    </div>
                    <div class="game_block">
                        <p class="game_heading">Assasin’s Creed:<br><span class="game_heading_span">Rogue</span></p>
                        <p class="game_price">$29.99</p>
                        <button class="red_button game_button">Buy</button>
                        <p class="game_text">The plot is set in a fictional history of real world events and follows the centuries-old struggle between the Assassins, who fight for peace with free will, and the Templars, who desire peace through control. The story is set in the mid-18th century during the Seven Years' War, and follows Shay Patrick Cormac, an Assassin-turned-Templar who hunts down former members of his Brotherhood after being betrayed by them. Gameplay in Rogue is very similar to that of Black Flag with a mixture of ship-based naval exploration and third-person land-based exploration with some new features.</p>
                    </div>
                </div>
            </section>

            <section class="gallery products_gallery similar" id="gallery">
                <p class="heading gallery_heading products_gallery_heading similar_heading">Similar games</p>
                <div class="gallery_blocks products_gallery_blocks">
                    <div class="gallery_block products_gallery_block similar_gallery_block">
                        <img src="{% static 'img/pryamougolnik_8_187.jpg' %}" alt="MIDDLE-EARTH">
                        <p class="gallery_text gallery_text_two_strings">MIDDLE-EARTH:<br><span class="gallery_text_span">Shadow Of War</span></p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block similar_gallery_block">
                        <img src="{% static 'img/pryamougolnik_8_191.jpg' %}" alt="DISHONORED 2">
                        <p class="gallery_text">DISHONORED 2</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block similar_gallery_block">
                        <img src="{% static 'img/pryamougolnik_8_187.jpg' %}" alt="THIEF">
                        <p class="gallery_text">THIEF</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                    <div class="gallery_block products_gallery_block similar_gallery_block">
                        <img src="{% static 'img/pryamougolnik_8_190.jpg' %}" alt="HITMAN">
                        <p class="gallery_text">HITMAN</p>
                        <button class="red_button gallery_button">Buy</button>
                    </div>
                </div>
            </section>


        </main>

    {% endblock %}
        {% block container_close %}
    </div>
    {% endblock %}