{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<div class="container_body products_gallery_container">
    <header class="contacts_header">
            <div class="header_content_black contacts_header_content_black">
{% endblock %}


    {% block content %}
    <main>

            <section class="gallery products_gallery" id="gallery">
                <p class="heading gallery_heading products_gallery_heading">Our Gallery</p>
                <div class="gallery_blocks products_gallery_blocks">

                    {% for product in products %}
                    <div class="gallery_block products_gallery_block">
                        <img src="/media/{{ product.image }}" alt="">
                        <p class="gallery_text gallery_text_two_strings">{{ product.name }}<br><span class="gallery_text_span"></span></p>
                        <a class="red_button gallery_button" href="{% url 'baskets:basket_add' product.id %}">Buy</a>
                    </div>
                    {% endfor %}

                </div>
                <button class="products_gallery_button">Show more games</button>
            </section>

            <section class="discount">
                <div class="discount_blocks">
                    <div class="discount_block">
                        <img class="discount_img" src="{% static discount_first.image %}" alt="{{ discount_first.alt }}">
                        <div class="discount_img_text">
                            <p class="discount_img_text_discount">discount</p>
                            <p class="discount_img_text_game">{{ discount_first.name }}<br><span class="discount_img_text_game_span">{{ discount_first.nameSpan }}</span></p>
                            <p class="discount_img_text_price">{{ discount_first.price }}<span class="discount_img_text_price_span1">/ <span class="discount_img_text_price_span2">{{ discount_first.priceSpan }}</span></span></p>
                            <button class="red_button discount_img_text_button" onclick="window.location.href = {% url discount_first.click %};">Buy</button>
                        </div>
                    </div>
                    <div class="discount_block">
                        <img class="discount_img" src="{% static discount_second.image %}" alt="{{ discount_second.alt }}">
                        <div class="discount_img_text discount_img_text2">
                            <p class="discount_img_text_discount">discount</p>
                            <p class="discount_img_text_game">{{ discount_second.name }}</p>
                            <p class="discount_img_text_price">{{ discount_second.price }}<span class="discount_img_text_price_span1">/ <span class="discount_img_text_price_span2">{{ discount_second.priceSpan }}</span></span></p>
                            <button class="red_button discount_img_text_button" onclick="window.location.href = {% url discount_second.click %};">Buy</button>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    {% endblock %}


    {% block container_close %}
    </div>
    {% endblock %}
